:root {
  --clr-primary: #4f81bd;
  --clr-primary-1: #b8cce4;
  --clr-primary-2: #dbe5f1;
  --clr-grey-1: #f0f4f8;
  --clr-grey-2: #829ab1;
  --clr-secondary: #c0504d;

  --backgroundColor: #dfe6e9;
  --fixed-width: 600px;

  --spacing: 0.1rem;
  --radius: 0.25rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColor);
}

h1 {
  text-transform: capitalize;
  color: var(--clr-grey-1);
}

a {
  text-decoration: none;
}

.section {
  width: 95vw;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0;
  height: 100vh;
  padding-bottom: 0;
}

.section > header {
  background-color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 4rem;
  border-radius: 4px;
}

.title {
  font-size: 1.7rem;
}

.btn {
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--clr-grey-1);
  color: var(--clr-primary);
  font-size: 1.2rem;
}

/* =========== table styles =========== */

.table {
  width: var(--fixed-width);
  text-align: center;
}

table {
  border: 2px solid var(--clr-primary);
  border-collapse: collapse;
}

td,
th {
  border: 1px solid var(--clr-grey-1);
  border-collapse: collapse;
}

th {
  font-size: 1.2rem;
  padding: 8px;
  text-transform: capitalize;
  background-color: var(--clr-primary);
  color: var(--clr-grey-1);
}

td {
  font-size: 1rem;
  padding: 3px;
}

tbody > tr {
  background-color: var(--clr-primary-1);
}

tbody > tr:nth-child(even) {
  background-color: var(--clr-primary-2);
}

/* .data-section {
  display: flex;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.data-section > table {
  width: 50%;
}

.data-section > div {
  width: 50%;
} */

.data-section {
  display: grid;
  grid-template-columns: 50% 50%;
}

/* form styles */
.form {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form label {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 10px;
  margin-right: 2px;
  color: var(--clr-primary);
}

.form input {
  border: 1px solid var(--clr-primary-1);
  margin-right: 15px;
  margin-left: 0;
  color: var(--clr-primary);
  font-size: 1rem;
  text-transform: uppercase;
}

.form button {
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--clr-primary);
  color: var(--clr-grey-1);
  border: transparent;
  padding: 4px 10px;
  font-size: 1rem;
  border-radius: 4px;
  margin: 0;
  margin-left: 10px;
  letter-spacing: var(--spacing);
}

/* loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 8rem;
  height: 8rem;
  border: 5px solid var(--clr-grey-1);
  border-radius: 50%;
  border-top-color: var(--clr-primary);
  animation: spinner 2s linear infinite;
  display: grid;
  margin: 0 auto;
  margin-top: 12rem;
}

.btn-container {
  width: var(--fixed-width);
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container p {
  font-weight: bold;
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
}

.btn-container button {
  margin: 0 1rem;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-color: transparent;

  background: var(--clr-primary);
  color: var(--clr-grey-1);
  cursor: pointer;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
}
