:root {
  /* green */
  --clr-primary: #4d7c0f;
  --clr-primary-1: #bed0a9;
  --clr-primary-2: #eff7e3;

  --clr-primary-mustard: #b28900;
  --clr-primary-1-mustard: #d2cbb8;
  --clr-primary-2-mustard: #fcfcfa;

  --clr-grey-1: #f0f4f8;
  --clr-grey-2: #829ab1;
  --clr-grey-3: #40454a;
  --clr-secondary: #c0504d;

  --clr-primary-green: #4d7c0f;
  --toggle-btn-clr: var(--clr-primary-mustard);

  --backgroundColor: #f1f5f9;

  --fixed-width: 600px;

  --spacing: 0.1rem;
  --radius: 0.25rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mustard-theme {
  --clr-primary: var(--clr-primary-mustard);
  --clr-primary-1: var(--clr-primary-1-mustard);
  --clr-primary-2: var(--clr-primary-2-mustard);
  --toggle-btn-clr: var(--clr-primary-green);
}

body {
  background-color: var(--backgroundColor);
}

h1 {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.section {
  width: 95vw;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.section > header {
  background-color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.title {
  font-size: 1.4rem;
  color: var(--clr-grey-1);
}

.btn {
  text-transform: capitalize;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--clr-grey-1);
  color: var(--clr-primary);
  font-size: 1rem;
}

/* =========== toggle button styles =========== */
.toggle-btn-container {
  display: flex;
}

.toggle-btn {
  padding: 2px 4px;
  border: none;
  border-radius: 4px;
  margin-left: 1rem;
  cursor: pointer;
  background-color: var(--clr-grey-1);
}

.toggle-btn svg {
  color: var(--toggle-btn-clr);
  width: 1.2rem;
}

/* =========== table styles =========== */

table {
  text-align: center;
  width: 100%;
  border: 2px solid var(--clr-primary);
  border-collapse: collapse;
}

td,
th {
  border: 1px solid var(--clr-grey-1);
  border-collapse: collapse;
}

th {
  font-size: 1rem;
  padding: 4px;
  text-transform: capitalize;
  background-color: var(--clr-primary);
  color: var(--clr-grey-1);
}

td {
  font-size: 0.8rem;
  padding: 1.5px;
}

tbody > tr {
  background-color: var(--clr-primary-1);
}

tbody > tr:nth-child(even) {
  background-color: var(--clr-primary-2);
}

.data-section {
  display: grid;
  gap: 2rem;
  padding: 1rem;
}

/* form styles */
.form {
  display: flex;
  align-items: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding: 0 1rem;
}

.form label {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 10px;
  margin-right: 2px;
  color: var(--clr-primary);
  display: inline-block;
  width: 80px;
}

.form input {
  border: 1px solid var(--clr-primary-1);
  margin-right: 15px;
  margin-left: 0;
  color: var(--clr-primary);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.form button {
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--clr-primary);
  color: var(--clr-grey-1);
  border: transparent;
  padding: 2px 5px;
  font-size: 0.8rem;
  border-radius: 4px;
  margin: 0;
  margin-left: 10px;
  letter-spacing: var(--spacing);
}

/* loading */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 8rem;
  height: 8rem;
  border: 5px solid var(--clr-grey-1);
  border-radius: 50%;
  border-top-color: var(--clr-primary);
  animation: spinner 2s linear infinite;
  display: grid;
  margin: 0 auto;
  margin-top: 12rem;
}

.btn-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.show-btn {
  visibility: visible;
}

.btn-container p {
  font-weight: bold;
  color: var(--clr-primary);
  letter-spacing: var(--spacing);
}

.btn-container button {
  margin: 0 1rem;
  font-size: 0.7rem;
  padding: 0.125rem 0.25rem;
  text-transform: capitalize;
  border-color: transparent;

  background: var(--clr-primary);
  color: var(--clr-grey-1);
  cursor: pointer;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
}

.error-msg {
  margin: 2rem;
  color: #900404;
  text-transform: capitalize;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/* responsive chart styles  */
.chart div {
  width: 100% !important;
  border: transparent !important;
}

.chart .fusioncharts-container {
  width: 100% !important;
}

.chart svg {
  width: 100% !important;
}

/* responsive styles */
@media screen and (min-width: 640px) {
  .section > header {
    padding: 1rem 4rem;
  }
  .title {
    font-size: 1.7rem;
  }
  .btn {
    padding: 4px 8px;
    font-size: 1.2rem;
  }
  th {
    font-size: 1.2rem;
    padding: 8px;
  }
  td {
    font-size: 1rem;
    padding: 3px;
  }
  .form-control {
    flex-direction: row;
    align-items: center;
  }
  .btn-container button {
    padding: 0.25rem 0.5rem;
  }
  .error-msg {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .data-section {
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
  }
  .chart-section {
    margin-top: 3.625rem;
  }
  .form {
    margin-bottom: 1rem;
  }
  .form label {
    font-size: 1.2rem;
    width: auto;
  }
  .form input {
    font-size: 1rem;
  }
  .form button {
    padding: 4px 10px;
    font-size: 1rem;
  }
  .btn-container button {
    font-size: 0.8rem;
  }
}
.page-center {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.error-page h1 {
  font-size: 8rem;
  color: var(--clr-secondary);
}

.error-page h4 {
  font-size: 1.563rem;
  text-align: center;
  text-transform: capitalize;
  color: #444;
  color: var(--clr-grey-3);
  margin-bottom: 0.5rem;
}

.error-btn {
  font-size: 1rem;
  text-transform: capitalize;
  padding: 1px;
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: var(--clr-secondary);
}
