:root {
  --clr-primary: #4f81bd;
  --clr-primary-1: #b8cce4;
  --clr-primary-2: #dbe5f1;
  --clr-grey-1: #f0f4f8;
  --clr-secondary: #c0504d;

  --backgroundColor: #dfe6e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--backgroundColor);
}

h1 {
  text-transform: capitalize;
  color: var(--clr-grey-1);
}

a {
  text-decoration: none;
}

.section {
  width: 95vw;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0;
  height: 100vh;
  padding-bottom: 0;
}

.section > header {
  background-color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 4rem;
  border-radius: 4px;
}

.title {
  font-size: 1.7rem;
}

.btn {
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--clr-grey-1);
  color: var(--clr-primary);
  font-size: 1.2rem;
}

/* =========== table styles =========== */

.table {
  width: 600px;
  text-align: center;
}

table {
  border: 2px solid var(--clr-primary);
  border-collapse: collapse;
}

td,
th {
  border: 1px solid var(--clr-grey-1);
  border-collapse: collapse;
}

th {
  font-size: 1.2rem;
  padding: 8px;
  text-transform: capitalize;
  background-color: var(--clr-primary);
  color: var(--clr-grey-1);
}

td {
  font-size: 1rem;
  padding: 3px;
}

tbody > tr {
  background-color: var(--clr-primary-1);
}

tbody > tr:nth-child(even) {
  background-color: var(--clr-primary-2);
}
